{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-box footer-logo-address">
                    <!-- address  -->
                    <img src="{% static '' %}images/footer-logo1.png" class="img-responsive" alt="">
                    <address>
                        {{setting.address}}
                        <br> Tell: {{setting.phone}}
                        <br> Email: {{setting.email}}
                    </address>
                </div>
                <!-- /.address  -->
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-box">
                            <h3 class="category-headding">categories</h3>
                            <div class="headding-border bg-color-4"></div>
                            <ul>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Newsletter</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Pressroom</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Advertise online</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Language</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="/admin/magazine/magazine/1/change/">Create Magazine</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-box">
                            <h3 class="category-headding">POPULAR CATEGORY</h3>
                            <div class="headding-border bg-color-5"></div>
                            <ul>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Digital Edition</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Site Map</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">About Ads</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Give a Gift</a></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-box">
                    <!-- featured news -->
                    <h3 class="category-headding ">FEATURED NEWS</h3>
                    <div class="headding-border bg-color-2"></div>

                    {% for rs in featured %}
                    <div class="box-item wow fadeIn" data-wow-duration="1s">
                        <div class="img-thumb">
                            <a href="#" rel="bookmark"><img class="entry-thumb" src="{{rs.image.url}}" alt="" height="80" width="100"></a>
                        </div>
                        <div class="item-details"  style="color: #229AD6;">
                            <h6 class="sub-category-title bg-color-1" >
                                    <a href="#" >{{rs.category}}</a>
                                </h6>
                            <h3 class="td-module-title"><a href="#">{{rs.title}}</a></h3>
                            <div class="post-editor-date">
                                <!-- post date -->
                                <div class="post-date">
                                    <i class="pe-7s-clock"></i> {{rs.create_at}}
                                </div>
                                <!-- post comment -->
                                <div class="post-author-comment"><i class="pe-7s-comment"></i> 13 </div>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
                </div>
                <!-- /.featured news -->
            </div>
        </div>
    </div>
</footer>
<div class="sub-footer">
    <!-- sub footer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p><a href="#" class="color-1">HUSTLERS </a> Leapfrom student partner program</p>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa  fa-facebook"></i> </a></li>
                        <li><a href="#" class="twitter"><i class="fa  fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa  fa-google-plus"></i></a></li>
                        <li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" class="vimeo"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- /.sub footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static '' %}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static '' %}js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="{% static '' %}js/metisMenu.min.js"></script>
    <!-- Scrollbar js -->
    <script type="text/javascript" src="{% static '' %}js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- animate js -->
    <script type="text/javascript" src="{% static '' %}js/wow.min.js"></script>
    <!-- Newstricker js -->
    <script type="text/javascript" src="{% static '' %}js/jquery.newsTicker.js"></script>
    <!--  classify JavaScript -->
    <script type="text/javascript" src="{% static '' %}js/classie.js"></script>
    <!-- owl carousel js -->
    <script type="text/javascript" src="{% static '' %}owl-carousel/owl.carousel.js"></script>
    <!-- youtube js -->
    <script type="text/javascript" src="{% static '' %}js/RYPP.js"></script>
    <!-- jquery ui js -->
    <script type="text/javascript" src="{% static '' %}js/jquery-ui.js"></script>
    <!-- form -->
    <script type="text/javascript" src="{% static '' %}js/form-classie.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static '' %}js/custom.js"></script>