{% load static%}
    <header >
        <!-- Mobile Menu Start -->
        <div class="mobile-menu-area navbar-fixed-top hidden-sm hidden-md hidden-lg" style="background-color: black;">
            <nav class="mobile-menu" id="mobile-menu">
                <div class="sidebar-nav">
                    <ul class="nav side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                        <button class="btn mobile-menu-btn" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li><a href="#" style="color: white;" class="category02">HOME</a></li>

                        {% for rs in category %}
                        
                        
                        <li><a href="#" style="color: white;" class="category02">{{rs.title}}</a></li>
                        {% endfor %}
                
                        <li><a href="#">MAGAZINE</a></li>
                        <li><a href="#">CONTACT</a></li>

                    
                        <!-- social icon -->
                        <li>
                            <div class="social">
                                <ul>
                                    <li><a href="#" class="facebook"><i class="fa  fa-facebook"></i> </a></li>
                                    <li><a href="#" class="twitter"><i class="fa  fa-twitter"></i></a></li>
                                    <li><a href="#" class="google"><i class="fa  fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="top_header_icon">
                    <span class="top_header_icon_wrap">
                            <a target="_blank" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </span>
                    <span class="top_header_icon_wrap">
                            <a target="_blank" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </span>
                    <span class="top_header_icon_wrap">
                            <a target="_blank" href="#" title="Google"><i class="fa fa-google-plus"></i></a>
                        </span>
                    <span class="top_header_icon_wrap">
                            <a target="_blank" href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a>
                        </span>
                    <span class="top_header_icon_wrap">
                            <a target="_blank" href="#" title="Pintereset"><i class="fa fa-pinterest-p"></i></a>
                        </span>
                </div>
                <div id="showLeft" class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- Mobile Menu End -->
        <!-- top header -->
        <div class="top_header hidden-xs" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="top_header_menu_wrap">
                            <ul class="top-header-menu">

                                {% if current_user %}
                          
                                <li><a href="/signup"  style="color: white;">REGISTER</a></li>
                                <li >
                                    <a href="/login"  style="color: white;" >LOGIN</a>
                                
                                </li>
                                {% else %}

                                <li >
                                    <a href="/logout"  style="color: white;" >LOGOUT</a>
                                
                                </li>
                                {% endif %}

                               
                                <li><a href="#"  style="color: white;">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--breaking news-->
                    <div class="col-sm-8 col-md-7">
                        <div class="newsticker-inner">
                            <ul class="newsticker">
                                {% for rs in article %}
                                <li><span class="color-3"> Breaking news </span><a  style="color: white;" href="#">{{rs.title}}</a></li>
                                 {% endfor %}
                            </ul>
                            <div class="next-prev-inner">
                                <a href="#" id="prev-button"><i class='pe-7s-angle-left'></i></a>
                                <a href="#" id="next-button"><i class='pe-7s-angle-right'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="top_header_icon">
                            <span class="top_header_icon_wrap">
                                    <a target="_blank" href="#" title="Twitter"><i  style="color: white;" class="fa fa-twitter"></i></a>
                                </span>
                            <span class="top_header_icon_wrap">
                                    <a target="_blank" href="#" title="Facebook"><i  style="color: white;" class="fa fa-facebook"></i></a>
                                </span>
                            <span class="top_header_icon_wrap">
                                    <a target="_blank" href="#" title="Google"><i  style="color: white;" class="fa fa-google-plus"></i></a>
                                </span>
                            <span class="top_header_icon_wrap">
                                    <a target="_blank" href="#" title="Vimeo"><i  style="color: white;" class="fa fa-vimeo"></i></a>
                                </span>
                            <span class="top_header_icon_wrap">
                                    <a target="_blank" href="#" title="Pintereset"><i  style="color: white;" class="fa fa-pinterest-p"></i></a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_banner_wrap" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-sm-4">
                        <div class="header-logo">
                            <!-- logo -->
                            <a href="/">
                                <img class="td-retina-data img-responsive" src="{% static '' %}images/footer-logo1.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-8 col-sm-8 hidden-xs">
                        <div class="header-banner">
                            <a href="#"><img class="td-retina img-responsive" src="{% static '' %}images/top-bannner1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navber -->
        <div class="container hidden-xs" style="background-color: black;">
            <nav class="navbar">
                <div class="collapse navbar-collapse" style="background-color: black;">
                    <ul class="nav navbar-nav" style="background-color: black;">
                        <li class="active"><a href="/" style="color: white;" class="category01">HOME</a></li>
                        {% for rs in category %}
                        
                        
                        <li><a href="#" style="color: white;" class="category02">{{rs.title}}</a></li>
                        {% endfor %}
                
                    
                        <li><a href="/user/magazine" style="color: white;" class="category02">SCHOOL MAGAZINE</a></li>
                  
                    </ul>
                </div>
                <!-- navbar-collapse -->
            </nav>
        </div>
    </header>
   