{% extends 'homebase.html' %}
{% load i18n %}
{% block title %} User Login  {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block body %}

<section class="block-idnner" style="background-color: black;">
	<h1 style="color: white; color: white; padding: 30px; text-align: center;">Login</h1>


</section>
<section class="login-reg-inner" >


	
	<div class="container" >
		<div class="row" >
			<div class="col-sm-3"></div>
			<div class="col-sm-6" >
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
				<div class="login-form-inner" style="align-items: center;">
					<h3 class="category-headding " style="color: white;" >LOGIN TO YOUR ACCOUNT</h3>
					<form method="post">
						{% csrf_token%}
						<label>Username Or Email </label>
						<input type="text" class="form-control" id="name_email" name="username" placeholder="Username or Email">
						<label>Password </label>
						<input type="password" class="form-control" id="pass" name="password" placeholder="*******">
						<label class="checkbox-inline">
							<input type="checkbox" value="">Remember me</label>
						<button type="submit" name="Login"  value="Login" style="background-color: #229AD6; border-color: #229AD6;" class="btn btn-style"  >Login</button>
						<div class="foeget"><a href="#" style="color: white;">Forget username/password?</a></div>
						<div class="row" style="padding: 40px;">
							<div class="col-sm-6">
								<div class="social_icon">
									<div class="social_icon_box social_icon_box_1">
										<div class="icon facebook-icon"></div>
										<span class="social_info">Login with facebook</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="social_icon">
									<div class="social_icon_box social_icon_box_2">
										<div class="icon twitter-icon"></div>
										<span class="social_info">Login with twitter</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-3"></div>
	
		</div>
	</div>
</section>

{% endblock %}